/* common.css */
/*
$canvas_width:  800px;
$canvas_height: 600px;
*/
/* Border isn't present on the bottom */
/* menu.scss */
/* common.css */
/*
$canvas_width:  800px;
$canvas_height: 600px;
*/
/* Border isn't present on the bottom */
#menu_bar {
  width: 100%;
  height: 32px;
  background-color: #f2f2f2; }

#menu_item_wrapper {
  float: left;
  margin-top: 4px;
  margin-left: 10px; }

.menu_item {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  margin-right: 4px; }

#new_file_button {
  background-repeat: no-repeat;
  background: url(web/resources/images/new.png); }

#load_file_button {
  background-repeat: no-repeat;
  background: url(web/resources/images/load.png); }

#save_file_button {
  background-repeat: no-repeat;
  background: url(web/resources/images/save.png); }

#save_as_file_button {
  background-repeat: no-repeat;
  background: url(web/resources/images/save_as.png); }

#fullscreen_button {
  background-repeat: no-repeat;
  background: url(web/resources/images/fullscreen.png); }

#about_button {
  background-repeat: no-repeat;
  float: right;
  background: url(web/resources/images/info.png) no-repeat;
  margin-top: 4px;
  margin-right: 10px; }

#status {
  float: right;
  width: 24px;
  height: 24px;
  background: url(web/resources/images/status.png) no-repeat;
  margin-top: 4px;
  margin-right: 10px; }
  #status .disconnected {
    background-position-x: 0px; }
  #status .connecting {
    background-position-x: -24px; }
  #status .connected {
    background-position-x: -48px; }

/** tabs.scss */
/* common.css */
/*
$canvas_width:  800px;
$canvas_height: 600px;
*/
/* Border isn't present on the bottom */
.tab {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: #abadb3;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px; }

.selected {
  background: white; }

#ui_contents {
  height: 699px;
  background: white;
  position: relative;
  overflow: auto;
  border-style: solid;
  border-color: #abadb3;
  border-width: 1px; }

.drag_over {
  border-color: #239bd7; }

.drag_none {
  border-color: #0f0f0f; }

.first {
  background-color: white;
  border-style: solid;
  border-color: #abadb3;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px; }

.second {
  background-color: #f8f8f8;
  border-style: solid;
  border-color: #abadb3;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px; }

.ui_row {
  padding: 8px;
  min-width: 200px; }

/* Model UI */
#model_buttons {
  width: 200px; }

.model_button {
  width: 48px;
  height: 48px;
  display: inline-block;
  border: dashed 2px black;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer; }

.model_selected {
  border: dashed 2px #239bd7;
  background-position-x: -48px; }

#cube_button {
  background-repeat: no-repeat;
  background-image: url(web/resources/images/cube.png); }

#sphere_button {
  background-repeat: no-repeat;
  background-image: url(web/resources/images/sphere.png); }

#plane_button {
  background-repeat: no-repeat;
  background-image: url(web/resources/images/plane.png); }

#cylinder_button {
  background-repeat: no-repeat;
  background-image: url(web/resources/images/cylinder.png); }

#model_drop {
  width: 256px;
  height: 256px;
  border-style: dashed;
  border-width: 3px; }
  #model_drop p {
    text-align: center;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 256px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 112px;
    margin-bottom: 0px; }

/* Texture UI */
.texture_element {
  display: inline-block; }

.texture_drop {
  display: inline-block;
  width: 128px;
  height: 128px;
  border-style: dashed;
  border-width: 3px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px; }
  .texture_drop p {
    text-align: center;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    width: 128px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 48px;
    margin-bottom: 0px; }
  .texture_drop img {
    border-style: none;
    pointer-events: none;
    width: 128px;
    height: 128px;
    max-width: 128px;
    max-height: 128px; }

.sampler_state {
  display: inline-block;
  vertical-align: top; }
  .sampler_state select {
    width: 180px; }

/* Source editor UI */
.shader_area_wrapper {
  width: 100%; }

textarea {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  height: 696px !important;
  line-height: 15px;
  white-space: nowrap;
  spellcheck: false !important;
  resize: both;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 !important;
  outline: none;
  border: none; }

.source_code_wrapper {
  float: left;
  width: 100%; }

.source_code_right {
  margin-left: 55px; }

.lines {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  line-height: 15px;
  height: 696px;
  float: left;
  overflow: hidden;
  border-right: 1px solid silver;
  margin-right: 10px;
  width: 50px;
  margin-left: -100%; }

.code_lines {
  text-align: right; }

.error_at {
  background-image: url(web/resources/images/error.png);
  background-color: #ffb0a8;
  background-repeat: no-repeat !important;
  background-position-x: 2px; }

.warning_at {
  background-image: url(web/resources/images/warning.png);
  background-color: #ffed87;
  background-repeat: no-repeat !important;
  background-position-x: 2px; }

/* Shader variable UI */
#variable_area tr:nth-child(odd) {
  background: white; }
#variable_area tr:nth-child(even) {
  background: #f8f8f8; }

.variable_table {
  width: 100%; }

.variable_name {
  font-weight: bold; }

.variable_tool_tip {
  text-align: right; }

/* Renderer UI */
#renderer_area select {
  width: 150px; }

.state_value_name {
  width: 166px; }

/* Compiler Output UI */
#compilation_area {
  width: 638px; }

.compiler_message {
  background: white;
  border: 1px solid #abadb3;
  overflow-y: scroll;
  height: 162px; }

.compiler_output {
  width: 100%; }
  .compiler_output tr:nth-child(even) {
    background: #f8f8f8; }

#compiler_status {
  border-style: solid;
  border-color: #abadb3;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  background: #e2e2e2;
  padding: 5px; }

/* Dialogs.css */
.modal_dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  transition: opacity 400ms ease-in;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in; }

.modal_dialog_opened {
  opacity: 1;
  pointer-events: auto; }

.modal_dialog_closed {
  opacity: 0;
  pointer-events: none; }

.modal_dialog > div {
  width: 600px;
  position: relative;
  padding: 10px;
  margin: 10% auto;
  background: #f8f8f8;
  border-radius: 5px;
  z-index: 100000;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.25); }
  .modal_dialog > div p {
    text-align: center; }

#loading_screen > div {
  width: 64px;
  margin: 25% auto; }

#about_dialog > div {
  width: 300px; }
  #about_dialog > div a {
    text-decoration: none; }

#load_dialog > div {
  width: 450px; }
  #load_dialog > div table {
    width: 100%;
    border-collapse: collapse; }
  #load_dialog > div tr {
    border: 1px inset transparent;
    cursor: pointer;
    line-height: 30px; }
  #load_dialog > div tr:hover {
    border: 1px solid #239bd7 !important; }
  #load_dialog > div tr:nth-child(odd) {
    background: white; }
  #load_dialog > div tr:nth-child(even) {
    background: #f8f8f8; }

.file_selected {
  border: 1px solid #70B2D3 !important;
  background: #70B2D3 !important; }

#save_as_dialog > div {
  width: 450px; }
  #save_as_dialog > div input {
    width: 100%; }

.logo {
  display: block;
  margin: 0px auto; }

.dialog_buttons {
  padding-top: 10px;
  text-align: right; }

.submit_button {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  color: #F8F8F8;
  background: #008FD2;
  border: solid 1px #00A4E4; }

.submit_button:hover {
  background: #0073CC; }

.cancel_button {
  display: inline-block;
  width: 80px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 4px; }

.cancel_button:hover {
  background: #D8D8D8; }

body {
  background-color: #f8f8f8;
  text-color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0px auto; }

#page {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; }

#page_left {
  float: left;
  width: 640px;
  min-width: 640px;
  margin-left: -100%;
  /* todo remove */
  overflow: hidden;
  height: 728px; }

canvas {
  background-color: black; }

#page_right {
  float: left;
  width: 100%; }

#ui {
  margin-left: 650px;
  min-width: 501px; }

#canvas_wrap {
  float: right;
  margin-top: 27px; }

#layer0 {
  z-index: 0; }

#layer1 {
  position: absolute;
  top: 79px;
  left: 20px;
  z-index: 1; }

#frame_counter {
  background-color: #f8f8f8;
  border: solid 2px #070707;
  border-radius: 4px;
  width: 100px;
  height: 50px; }

h1 {
  text-color: black;
  border-style: solid;
  border-color: black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 5px; }

h2 {
  text-color: black;
  border-style: solid;
  border-color: black;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 1px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
  font-weight: normal; }

.centered {
  margin: 0px auto; }

.hidden {
  display: none; }

a.tool_tip::before {
  content: attr(tool_tip_attribute);
  font-size: 10px;
  position: absolute;
  z-index: 999;
  white-space: nowrap;
  right: 36px;
  background: #abadb3;
  color: white;
  padding: 0px 7px;
  line-height: 24px;
  height: 24px;
  opacity: 1;
  border-radius: 4px;
  transition: opacity 400ms ease-in; }
