/* common.css */

$text_color: black;
$background_color: #f8f8f8;
$margin_value: 10px;

$application_height: 768px;

$canvas_width:  640px;
$canvas_height: 480px;
/*
$canvas_width:  800px;
$canvas_height: 600px;
*/
$menu_bar_height: 32px;
$menu_bar_color: #f4f4f4;
$menu_image_size: 24px;
$menu_bar_padding: 4px;

$menu_bar_height: $menu_image_size + ($menu_bar_padding * 2);

$ui_row_min_width: 400px;
$ui_row_padding:   8px;

$drop_area_border_color: #0f0f0f;
$drop_area_over_border_color: #ff0000;

$tab_border_color: #abadb3;
$tab_background_color: #fff;
$tab_height: 16px;
$tab_padding: 5px;
$tab_border_width: 1px;
$tab_border_radius: 5px;

$model_width: 256px;
$model_height: 256px;

$texture_size: 128px;
$texture_width: $texture_size;
$texture_height: $texture_size;
$texture_drop_border_width: 3px;

$ui_element_min_width: 300px;

$compilation_area_width: $canvas_width - 2 * ($tab_border_width);
$compiler_message_height: 162px;
$compiler_status_background_color: #e2e2e2;

/* Border isn't present on the bottom */
$canvas_wrap_top: $tab_height + $tab_border_width + 2 * $tab_padding;
$canvas_top_absolute: $menu_bar_height + $margin_value + $canvas_wrap_top;

@mixin no_repeat
{
  background-repeat: no-repeat;
}

@mixin left_fixed($width)
{
  float:     left;
  width:     $width;
  min-width: $width;
  margin:
  {
    left: -100%;
  }
}

@mixin right_liquid_wrapper
{
  float: left;
  width: 100%;
}

@mixin right_liquid($dist)
{
  margin:
  {
    left: $dist;
  }
}

@mixin bottom_border($color, $width)
{
  border:
  {
    style: solid;
    color: $color;

    left:   { width: 0px; }
    right:  { width: 0px; }
    top:    { width: 0px; }
    bottom: { width: $width; }
  }
}

@mixin drop_area($width)
{
  border:
  {
    style: dashed;
    width: $width;
  }
}

@mixin text_hover
{
    text-align: center;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}

.centered
{
  margin: 0px auto;
}

.hidden
{
  display: none;
}
