/** tabs.scss */
@import "common";

.tab
{
  display: inline-block;
  padding: $tab_padding;
  cursor:  pointer;

  border:
  {
    style: solid;
    color: $tab_border_color;

    left:   { width: $tab_border_width; }
    right:  { width: $tab_border_width; }
    top:    { width: $tab_border_width; }
    bottom: { width: 0px; }

    top-left:     { radius: $tab_border_radius; }
    top-right:    { radius: $tab_border_radius; }
    bottom-left:  { radius: 0px; }
    bottom-right: { radius: 0px; }
  }
}

.selected
{
  background: $tab_background_color;

}

#ui_contents
{
  height:     $canvas_height - 2 * ($tab_border_width);
  background: $tab_background_color;

  position: relative;
  overflow: auto;

  border:
  {
    style: solid;
    color: $tab_border_color;
    width: $tab_border_width;
  }

  h2
  {
    text-color:  $text_color;
    font-weight: normal;
    @include bottom_border($text_color, $tab_border_width);

    margin:
    {
      left:   0px;
      right:  0px;
      top:    2px;
      bottom: 2px;
    }
    padding:
    {
      left:   0px;
      right:  0px;
      top:    0px;
      bottom: 5px;
    }
  }
}

textarea {
  font-family:"Lucida Console", Monaco, monospace;
  width:534px;
  height:594px;
  overflow:scroll;
  white-space:nowrap;
  spellcheck:false;
  font-size:12px;
}

.drag_over
{
  border-color: $drop_area_over_border_color;
}

.drag_none
{
  border-color: $drop_area_border_color;
}

.first
{
  background-color: $tab_background_color;
  @include bottom_border($tab_border_color, $tab_border_width);
}

.second
{
  background-color: $background_color;
  @include bottom_border($tab_border_color, $tab_border_width);
}

/* Model UI */

.model_drop
{
  margin: 0px auto;
  width:  $model_width;
  height: $model_height;
}

/* Texture UI */

.texture_unit
{
  padding: $tab_padding;
  min-width: 200px;
}

.texture_element
{
  display: inline-block;
}

.texture_drop
{
  display: inline-block;
  width:   $texture_width;
  height:  $texture_height;

  @include drop_area($texture_drop_border_width);

  margin:
  {
    left:   0px;
    right:  $tab_padding;
    top:    0px;
    bottom: 0px;
  }

  p
  {
    @include text_hover;

    width:  $texture_width;
    margin:
    {
      left:   0px;
      right:  0px;
      top:    ($texture_height - 32px) / 2;
      bottom: 0px;
    }
  }

  img
  {
    border-style: none;
    pointer-events: none;

    width:      $texture_width;
    height:     $texture_width;
    max-width:  $texture_width;
    max-height: $texture_height;
  }
}

.sampler_state
{
  display: inline-block;
  vertical-align: top;
}
